/*
GENERAL STYLING 
*/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    max-width: 100%;
    margin: auto;
}

p {
    line-height: 1.8;
}

section:not([id]) {
    margin: 1em 0;
    padding: 0.5em 0;
    border-top: 1px solid #e3e9f2;
}

section {
    margin: 2em 0;
    border-top: 1px solid #e3e9f2;
}

.logotype {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
    text-align: left;
    font-size: 1em;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 1px;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

section h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    color: #8a919b;
    font-weight: 100;
    text-transform: uppercase;

}

section p {
    margin-top: 0;
}

section code {
    background-color: #E3E9F2;
    padding: 0.5em 0.75em;
    border-top: 2rem;
}

pre code {
    background-color: #E3E9F2;
    display: block;
    border-top: 2rem;
}

ul li {
    line-height: 2em;
}

ol li {
    line-height: 2em;
}

bg-mint {
    background-color: #DAE6E2;
}


/* 

GRID ELEMENTS 

*/

.info-stream{
    width: 50%;
    margin: auto;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-container-static {
    display: flex;
}

#grid .col1-3 {
    background-color: rgba(255, 255, 255, 0.8);
    flex: 1 1 33.3%;
    font-size: 1em;
    text-align: center;
    padding: 15px;
}

#grid .col2-3 {
    background-color: rgba(0, 0, 0, 0.2);
    flex: 1 1 66.6%;
    font-size: 1em;
    text-align: center;
    padding: 15px;
}

#grid .col-full {
    background-color: rgba(0, 0, 0, 0.5);
    flex: 1 1 100%;
    font-size: 1em;
    text-align: center;
    padding: 15px;
}

.col1-3 {
    flex: 1 1 33.3%;
    font-size: 1em;
    text-align: left;
    padding: 15px;
}

.col2-3 {
    flex: 1 1 66.6%;
    font-size: 1em;
    text-align: left;
    padding: 15px;
}


.col-full {
    flex: 0 1 100%;
    font-size: 1em;
    text-align: center;
    padding: 15px;
}

/* 

SIDE NAV ELEMENTS: Style guide

*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #DAE6E2;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 10px 6px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight:200;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #A3A4A8;
    text-decoration: underline;
}

.sidenav-header logotype {
    font-size: 25px;
}

.sidenav-header {
    width: 100%;
    line-height: 0.2;
    font-size:18px;
    text-align: left;
    padding-left: 1em;
}

.main {
    margin-left: 260px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* 

MAIN NAV ELEMENTS: Portfolio

*/

.nav-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #DAE6E2;
}

.nav-col-logo {
    background-color: #DAE6E2;
    flex: 1 1 33.3%;
    text-align: left;
    padding: 25px;
    padding-left: 35px;
}

.nav-col-group {
    background-color: #DAE6E2;
    flex: 1 1 66.6%;
    text-align: center;
    padding-top: 1.1em;
    padding-bottom: .1em;
    padding-right: 25px;
}


.nav-col-menu{
    padding: 20px;
    display: none;
}

.nav-col-menu .nav-button{
    border-width: 2px;
    padding: 5px 8px;
}

.nav-item {
    float: right;
    display: inline-block;
    color: #404040;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align:center;
    transition: background-color 0.5s ease-out;
}

.nav-logo {
    font-size: 1.8em;
    color: black;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
    color: #404040;
}

/* 

FOOTER ELEMENTS: Portfolio 

*/

.footer-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #DAE6E2;
}

.footer-col-group {
    float: right;
    background-color: #DAE6E2;
    flex: 1 1 66.6%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .1em;
}

.footer-item {
    float: right;
    display: inline-block;
    color: #404040;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align:center;
    transition: background-color 0.5s ease-out;
}

/* 

INTERACTIVE ELEMENTS 

*/

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #A3A4A8;
    text-decoration:none;
    transition: 0.5s;
    text-decoration: underline;
}


.in-text-link {
    color: #404040;
    text-decoration: none;
}

.in-text-link:hover {
    color: #A3A4A8;
    text-decoration:underline;

    transition: 0.5s;
}

.nav-button {
    border: 3px solid black;
    background-color: white; 
    color: black;
    font-weight: bold;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
    letter-spacing: 3px;
    margin-bottom: 2em;
}

.nav-button:hover {
    background-color: black; 
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

/* 

CARD STYLING 

*/

/* Colour Swatch */
.swatch-card{
    margin-right: 8px;
    display: inline-block;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 16px;;
    min-width: 140px;
    padding: 8px;
}

/* On mouse-over, add a deeper shadow */
.swatch-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.swatch-card img{
    width: 100%;
}

/*

OVERLAY ELEMENTS

*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

/*

HOME ELEMENTS

*/

#home-main p{
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
}

#home-feature img{
    max-width: 50%;
    height: auto;   
}

.home-img {
    border-top: 1px solid #e3e9f2;
}

.home-img img{
    margin: 2em;
    width: 50%;
    margin-bottom: 5em;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.home-img img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: 0.5s;
}

#photo-main h4{
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    padding-top: 1em;
}

#photo-main p{
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
    padding-bottom: 2em;
    letter-spacing: 1px;

}

/*

GALLERY ELEMENTS

*/


#gallery-main p{
    font-size: 1em;
    font-weight: 100;
    text-align: left;
    padding-bottom: 1em;
    letter-spacing: 1px;

}

#gallery-main h1{
    border-bottom: 1px solid #e3e9f2;
    padding-bottom: 1em;
}

#gallery-main section{
    border: none;
}


#gallery-feature img{
    width: 100%;
    height: auto;   
}


.gallery-img img{
    width: 100%;
    height: auto;
    opacity: 1.0;
    filter: alpha(opacity=100);
    padding-top: 4em;
    padding-bottom: 6em;
}


/*

REFERENCES ELEMENTS

*/

#references-main {
    padding: 2em;
}

#references-main h1, h2, p, ul, li{
    text-align: left;
}

#references-main a {
    color: #b3cbc3;
}

#references-main a:hover{
    color: #DAE6E2;
    transition: 0.5s;
}

@media only screen and (max-width: 1366px) {


}
@media only screen and (max-width: 1024px) {
    .nav-col-group{
        flex: 1 1 100%;
        display: none;
    }

    .nav-item{
        width: 100%;
        display: block;
    }

    .nav-item:hover{
        background: #b3cbc3;
        color: #fff;
    }

    .nav-col-menu{
        display: block;
    }

    .gallery-img img {
        width: 100%;
        padding-top: 2em;
        padding-bottom: 3em;
    }

}

/*tablet*/
@media only screen and (max-width: 768px) {

    .nav-col-logo {
        width: 100%;
        text-align: center;
    }

    .nav-container {
        float: none;
        display: block;
        text-align: center;
    }

    .info-stream{
        width: 80%;
    }

    .home-img img {
        width: 80%;
    }

    .gallery-img img {
        width: 80%;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .sidenav{
        position: relative;
        width: 100%;
    }

    pre{
        font-size: 0.9em;
    }

    #styleguide section{
        display: block;
    }



}

/*phone*/
@media only screen and (max-width: 500px) {
    .info-stream{
        width: 80%;
    }

    .home-img img{
        width: 80%;
    }

    .nav-container {
        float: none;
        display: block;
        text-align: center;
    }

    .footer-container {
        float: none;
        display: block;
    }

    .footer-item {
        float: none;
        text-align: center;
    }

    .nav-col-logo {
        float: none;
        text-align: center;
    }

    .nav-col-group {
        float: none;
    }

    .nav-col-menu{
        padding: 10px;
    }

    .nav-item {
        float: left;
    }



    pre code{
        overflow-x: scroll;
    }

}
